{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Quar.in</title>
  <!-- Bootstrap -->
      <link rel="shortcut icon" type="image/png" href="{% static 'images/logo/favicon/favicon-32x32.png' %}"/>
<link href="{% static '/css/bootstrap-4.4.1.css' %} " rel="stylesheet">
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static '/js/jquery-3.4.1.min.js' %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static '/js/popper.min.js' %}"></script>
    <script src="{% static '/js/bootstrap-4.4.1.js' %}"></script>

  <link rel="stylesheet" href="{% static '../static/css/home.css' %}">
  <link rel="stylesheet" href="{% static  '../static/css/fonts.css' %}">
  <script src="{% static '../static/js/custom.js' %}"></script>
  </head>
  <body>
  <nav class="navbar navbar-expand-lg navbar-light p-4">
    <a class="navbar-brand" href="../companydashboard">Quar.in</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainMenu">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="userMenu" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false"   style="color:#17a2b8">
            {{request.user.company.name}}
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
            <a class="dropdown-item" href="post">Post</a>
            <a class="dropdown-item" href="companyappliedDashboard">View applicants</a>
          <a class="dropdown-item" href="companypostedDashboard">View posts</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="../companydashboard">My account</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="logout" style="color:red">
            Log out</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
	  <div class="row"> <br>
</div>
	  <div class="row">
    <div class="col-lg-4 col-xl-4">&nbsp;</div>

    <div class="col-lg-4"><h5 style="color:#17a2b8">EDIT YOUR PROFILE</h5>
      <hr>



		<form type="POST">
            {% csrf_token %}
             <div class="form-group">
    <label for="old_password">Old Password</label><br>
      <input type="password" class="form-control" id="old_password" name="old_password" placeholder="********">
  </div>
             <div class="form-group">
    <label for="new_password1">New Password</label><br>
      <input type="password" class="form-control" id="new_password1" name="new_password1" placeholder="********">
         <small id="password" class="form-text text-muted">Letters, digits and @/./+/-/_ only.</small>
  </div>
             <div class="form-group">
    <label for="new_password2">Confirm New Password</label><br>
      <input type="password" class="form-control" id="new_password2" name="new_password2" placeholder="********">
  </div>
            {% if changePasswordForm.errors %}
                {{changePasswordForm.errors}}
            {% endif %}
              <button type="submit" class="btn btn-primary">Change Password</button>
        </form>
                    <hr>




        <form type="POST">
                        {% csrf_token %}
<div class="form-group">
    <label for="username">Username</label><br>
        <input type="text" class="form-control" id="username" name="username" value="{{request.user.username}}" readonly>
   </div>
  <div class="form-group">
    <label for="name">Company Name</label><br>
      <input type="text" class="form-control" id="name" name="name" value="{{request.user.company.name}}">
   </div>
  <div class="form-group">
    <label>Industry</label><br>
      {{companyform.industry}}
  </div>
	<div class="form-group">
    <label for="typeOfBusiness">Type of business</label><br>
        <input type="text" class="form-control" id="typeOfBusiness" name="typeOfBusiness" value="{{request.user.company.typeOfBusiness}}">
  </div>
	<div class="form-group">
    <label for="college">Website</label><br>
        <input type="url" class="form-control" id="website" name="website" value="{{request.user.company.website}}">
  </div>
	<div class="form-group">
    <label for="email">Email address</label><br>
      <input type="email" class="form-control" id="email" name="email" value="{{request.user.company.email}}">
    </div>

    	<div class="form-group">
    <label>Company Logo</label><br>
        {{companyform.companyLogo}}
    </div>

	<div class="form-group">
    <label for="phone">Phone</label><br>
        <input type="tel" class="form-control" id="phone" name="phone" value="{{request.user.company.phone}}">
    </div>
        <br>
            {% if companyform.errors %}
                {{companyform.errors}}
            {% endif %}
   <button type="submit" class="btn btn-info mb-1">Save Edits</button>

			<br>
</form>

<br>

</div>
    <div class="col-lg-4 col-xl-5">

</div>
</div>
  <footer class="text-white bg-info p-4 mt-5">
    <div class="row">
      <div class="col-6 col-md-8 col-lg-7">
        <div class="row text-center">
          <div class="col-sm-6 col-md-4 col-lg-4 col-12">
            <ul class="list-unstyled">
              <li class="btn-link"><a href="https://facebook.com/quardotin" class="footer-links">Facebook</a></li>
              <li class="btn-link"><a href="https://www.instagram.com/quarintern/" class="footer-links">Instagram</a></li>
              <li class="btn-link"><a href="https://mobile.twitter.com/quarintern" class="footer-links">Twitter</a></li>
              <li class="btn-link"><a href="https://www.linkedIn.com/company/quar" class="footer-links">LinkedIn</a></li>
            </ul>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4 col-12">
            <ul class="list-unstyled">
              <li class="btn-link"> <a href="../about" class="footer-links">About Us / FAQ </a></li>
              <li class="btn-link"> <a href="../internships" class="footer-links">Find Internships</a> </li>
              <li class="btn-link"> <a href="../post" class="footer-links">Post Internships</a> </li>
            </ul>
          </div>
          <div class="col-lg-4 col-12">
            <ul class="list-unstyled">
              <li class="btn-link"><a href="login" class="footer-links">Student Log In</a></li>
              <li class="btn-link"> <a href="../login" class="footer-links">Company Log In</a> </li>

            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-5 col-6">
        <address>
          <abbr title="Phone">@:</abbr>&nbsp;quarindia@gmail.com
          <a href="mailto:#"></a>
        </address>
      </div>
    </div>
  </footer>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery-3.4.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap-4.4.1.js"></script>
  </body>
</html>