{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Quar.in | About</title>
  <!-- Bootstrap -->
	  <link rel="shortcut icon" type="image/png" href="{% static 'images/logo/favicon.png' %}"/>
<link href="{% static '/css/bootstrap-4.4.1.css' %} " rel="stylesheet">
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static '/js/jquery-3.4.1.min.js' %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static '/js/popper.min.js' %}"></script>
    <script src="{% static '/js/bootstrap-4.4.1.js' %}"></script>

  <link rel="stylesheet" href="{% static '../static/css/about.css' %}">
  <link rel="stylesheet" href="{% static  '../static/css/fonts.css' %}">
  <script src="{% static '../static/js/custom.js' %}"></script>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light p-4">
    <a class="navbar-brand active" href="../">Quar.in</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="internships">Find Internships</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about">About</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="mb-5" style="display: flex; height: 74vh">
    <div class="p-5" style="margin: auto;">
      <h2>Log In</h2>
      <br>
      <form method="post">
          {% for message in messages %}
                    <div class="alert alert-info">
                        {{ message }}
                    </div>
            {% endfor %}
      	{% csrf_token %}
        <label for="username">Username</label><br>
        <input type="text" class="form-control" id="username" name="username" placeholder="maclewin"> <br><br>
        <label for="password">Password</label><br>
       <input type="password" class="form-control" id="password" name="password" placeholder="********"><br><br>


        <button type="submit" class="btn btn-info" value="Login">Log In</button>
        <small id="logIn" class="form-text text-muted mt-5">Don't have an account? Sign up as a <a href="../studentsignup">student</a> or sign up your <a href="../companysignup">company</a>?</small>
        <br>
      </form>
    </div>
  </div>

  <footer class="text-white bg-info p-4 mt-5">
    <div class="row">
      <div class="col-6 col-md-8 col-lg-7">
        <div class="row text-center">
          <div class="col-sm-6 col-md-4 col-lg-4 col-12">
            <ul class="list-unstyled">
              <li class="btn-link"><a href="https://facebook.com/quardotin" class="footer-links">Facebook</a></li>
              <li class="btn-link"><a href="https://www.instagram.com/quarintern/" class="footer-links">Instagram</a></li>
              <li class="btn-link"><a href="https://mobile.twitter.com/quarintern" class="footer-links">Twitter</a></li>
              <li class="btn-link"><a href="https://www.linkedIn.com/company/quar" class="footer-links">LinkedIn</a></li>
            </ul>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4 col-12">
            <ul class="list-unstyled">
              <li class="btn-link"> <a href="../about" class="footer-links">About Us / FAQ </a></li>
              <li class="btn-link"> <a href="../internships" class="footer-links">Find Internships</a> </li>
              <li class="btn-link"> <a href="../post" class="footer-links">Post Internships</a> </li>
            </ul>
          </div>
          <div class="col-lg-4 col-12">
            <ul class="list-unstyled">
              <li class="btn-link"><a href="login" class="footer-links">Student Log In</a></li>
              <li class="btn-link"> <a href="../login" class="footer-links">Company Log In</a> </li>

            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-5 col-6">
        <address>
          <abbr title="Phone">P:</abbr> (+91) 704906447 or 8130920931 <br>
          <abbr title="Phone">@:</abbr>&nbsp;quarindia@gmail.com
          <a href="mailto:#"></a>
        </address>
      </div>
    </div>
  </footer>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="js/jquery-3.4.1.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap-4.4.1.js"></script>
</body>
</html>